[submodule "contracts"]
	path = contracts
	url = https://github.com/replico-labs/Spaces.git
[submodule "bot"]
	path = bot
	url = https://github.com/replico-labs/protean-bot.git
[submodule "connect"]
	path = connect
	url = https://github.com/replico-labs/protean-web.git
